body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1693a5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 100vh; 
}


.container-login {
    background-color: #d8d8c0;
    border: 1px solid #ccc;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    margin: auto;
}

.input {
    margin: 10px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #1693a5;
}

.footer-container {
    background-color: #f0f0d8;
    text-align: center;
    color: #000;
    padding: 15px;
    width: 100%;
}

footer p {
    margin: 0;
}